body{
    background-image: url(img/feliz-chica-rubia-tomar-una-pildora-de-vitaminas-y-mirando-al-lado-sentados-en-un-sofa-en-el-salon-en-casa-m0gayn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.tituloPrincipal{
    font-family: cursive;
    text-align: center;
    text-shadow: 3px 5px  5px rgb(234, 88, 88);
}

.descripcion{
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    color:black ;
    text-shadow: 3px 0px  5px hsl(0, 0%, 100%);
    
}

.tablaComprimidos tr td {
    border: solid black;
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}



.tablaComprimidos .tdVacio{
    border: none
}

.tablaComprimidos{
    border: solid black;
    border-radius: 10px;
    padding: 1.2% 5%;
    box-shadow: 0 0.1rem 0.6rem rgba(255, 0, 0, 0.8);
    background-color: rgba(234, 10, 10, 0.5);
    margin: 7% 10% 20% 0%;
    display: none;
}

.inicioComprimidos{
    background-color: rgba(255, 204, 0, 0.5);
}

.segundaFilaComprimidos{
    background-color: rgba(245, 194, 194, 0.5);
}

.comprimidosDel8Al24{
    background-color: rgba(209, 236, 85, 0.5)
}

.comprimidos25-26{
    background-color: rgba(255, 38, 0, 0.5);
}

.ultimosComprimidos{
    background-color: white;
}

.filtrarNombre {
    display: inline-block;
    margin-top: 5%;
    margin-left: 30%;
    border: solid black;
    border-radius: 20px;
    text-align: center;
    width: 30%;
    height: 160px;
    padding: 3.5% ;
    background-color:rgba(0, 0, 0, 0.5);
} 

.filtrarNombre:hover{
    box-shadow: 3px 5px  5px rgb(234, 88, 88);;
}

.cajaInput{
    margin: 1%;
    background-color: rgba(234, 10, 10, 0.8); 
    border: none;
    width: 70%;
    height: 20%;
    border-radius: 15%;
    text-align: center;
    font-weight: bold;
    padding-right: 4%;
    cursor: pointer;
}

.nombreInput{
    margin: 5%;
    background-color: rgba(234, 10, 10, 0.8); 
    border: none;
    width: 70%;
    height: 20%;
    border-radius: 15%;
    text-align: center;
    font-weight: bold;
}

.btnFiltarNombre{
    background-color: rgba(0, 0 , 0,  0.0) ;
    border: none;
    color: wheat;
    font-weight: bolder;
    font-family: cursive;
    position: absolute;
    left: 60%;
    top: 61.5%;
    cursor: pointer;
}

.btnFiltarNombre:hover{
    color: black;
}

.labelText{
    font-family: cursive;
    font-weight: 300;
    cursor: pointer;
    padding: 20px;
    margin: 5%;
    color: white;
    text-align: center;
    text-shadow: 3px 5px  5px rgb(0, 0, 0); 
}

.conteiner {
    display: flex;
    align-items: center;
}

.mensajeUsuario{
    border: solid black;
    border-radius: 20%;
    margin:12%;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    display: inline-block;
    padding: 10%;
    margin-top: -10%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    font-size: 20px ;
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.8);
    color: wheat;
    text-shadow: 3px 5px  5px rgb(0, 0, 0); ;
}

.mensajeUsuarioError{
    border: solid rgb(190, 63, 63);
    border-radius: 20%;
    margin: 10% 0px 0 400px;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    display: inline-block;
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.8); 
    font-size: 20px ;
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.8);
    color: rgb(249, 125, 125);
    text-shadow: 3px 5px  5px rgb(0, 0, 0);
}

.btnRecargar{
    text-align: center;
    margin: 2% 0px 0 580px;
    border: none;
    border-radius: 30%;
    padding: 1%;
    text-shadow: 3px 5px  5px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8); 
    color: rgb(249, 125, 125);
}

 .btnRecargar:hover{
    box-shadow: 0 0.1rem 0.6rem rgba(255, 252, 252, 0.8);
    cursor: pointer;
    color:rgba(255, 252, 252, 0.8) ;
}

.tomado {
    background-color: #c6ebc9;
}

.resaltado-siguiente{
    background-color: yellow
}

.dark{
    background-color: black;
}

.span{
    color:rgba(234, 10, 10, 1); 
    font-weight: bolder;
    text-shadow: 3px 0px  5px hsl(0, 0%, 100%);
}

